*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

section{
    min-height: 100vh;
    background: linear-gradient(-30deg, #03a9f4 0%, #3a78b7 50%, #262626 50%, #607d8b 100%);
}

ul{
    height: 50px;
    padding-left: 0px;
}
ul li{
    display: inline-block;
    padding: 30px 0px;
    text-transform: uppercase;
    font-size: 20px;
}
ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 10px 10px 10px black;
}
ul li a:last-child{
    margin-right: 0;
}
ul li a::before,
ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all 0.5s;
}
ul li a::before{
    transform-origin: left;
    top:0;
}
ul li a::after{
    transform-origin: right;
    bottom: 0;
}
ul li a:hover::before,
ul li a:hover::after{
    transform: scaleX(1);
}

.middlebox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.middlebox .roundimg{
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.75);
    transform: scale(1);
    transition: all 0.5s;
}
.middlebox .roundimg:hover{
    transform: scale(1.1);
}

.middlebox .boxright{
    position: absolute;
    right: 30px;
    bottom: 0px;
    width: 50vw;
    max-width: 600px;
    text-shadow: 10px 10px 10px black;
    color: #fff;
}
.middlebox .boxright h1{
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.middlebox .boxright h2{
    font-weight: 500;
    letter-spacing: 2px;
}

.middlebox .boxleft{
    position: absolute;
    left: 50px;
    top: 150px;
    width: 50vw;
    max-width: 600px;
    text-shadow: 10px 10px 10px black;
    color: #fff;
}





footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #2d2d2d;
    color: white;
}



/*buttons*/
.close{
    border-radius: 5px;
    position: absolute;
    right: 10%;
    top: 10%;
    max-width: 75px;
}
.close:hover{
    background-color: #333;
}

.addB {
    border: 1px solid black;
    background-color: green;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
.addB:hover {
    background-color: #123;
    cursor: pointer;
}
.addB:active {
    background-color: #121;
}
